<h1>App View</h1>

<div class="container">
<mat-accordion class="box">
<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <table style="width:100%">
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
      </table>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Panel content goes here</p>
  <table style="width:100%">
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>
  <mat-action-row>
    <button mat-button>Click me</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <table style="width:100%">
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
      </table>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Panel content goes here</p>
  <mat-action-row>
    <button mat-button>Click me</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header >
    <mat-panel-title>
      <table style="width:100%">
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
      </table>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Panel content goes here</p>
  <mat-action-row>
    <button mat-button>Click me</button>
  </mat-action-row>
</mat-expansion-panel>

</mat-accordion>
</div>